@use '@angular/material' as mat;
@import '@angular/material/theming';

$app-primary: mat.define-palette(mat.$cyan-palette, 600);
$app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$deep-orange-palette, 500, 50, 700);

$primary: mat.get-color-from-palette($app-primary);
$primary-text: mat.get-color-from-palette($app-primary, 'default-contrast'); //$dark-primary-text;// $light-primary-text;
$accent: mat.get-color-from-palette($app-accent);
$warn: mat.get-color-from-palette($app-warn);
$warn-light: mat.get-color-from-palette($app-warn, lighter);

.logo {
    height: 80px;
    width: 70px;
    cursor: pointer;
    padding: 4px;
}

.sidenave-container {
    width: 80px !important;
    background-color: #24252b;
    //  height: 100%
}

.example-container {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
}

.center-align {
    color: antiquewhite;
    font-size: 0.9em;
    padding: 4px;

}

.pd-8 {
    padding: 18px;
    cursor: pointer;
}

.title-toolbar {
    margin: 0 auto;
    background: #24252b;
}

.size{
    color: antiquewhite;
    font-size: 2em;
}

.color{
    color: antiquewhite;
}

.right-arrow{
    font-size: 30px;
}

.icon-size{
    font-size: 28px;
    padding-right: 6px;
}

.login-btn{
    margin-left: auto;  
}

.img{
    border-radius: 50%;
    height: 45px;
    cursor: pointer;
}

.subtitle{
    font-size: 30px;
}