.logo{
    height: 80px;
    width: 70px;
    cursor: pointer;
}

.sidenave-container{
 width: 80px  !important;
 background-color: gray;
//  height: 100%
}

.example-container{
position: absolute ;
right: 0px ;
left: 0px ;
bottom: 0px;
top: 0px;
}