<mat-drawer-container class="example-container" [hasBackdrop]="true" >
    <mat-drawer #drawer mode="side" class="sidenave-container" opened="true">
        <div>
            <img src='../assets/logo.png' class="logo">
            <span class="center-align">STITCHER</span><hr style="width: 50%;">      
        </div>
        <app-sidemenu></app-sidemenu>   
        
    </mat-drawer>
        <div>            
            <mat-toolbar  class="title-toolbar">
                <mat-toolbar-row>
                            <mat-icon (click)="drawer.toggle()" class="pd-8 color">menu</mat-icon>
                            <div class="size">
                                <span>STITCHER</span> &nbsp;
                                <span *ngIf="name">
                                    <mat-icon class="right-arrow">keyboard_arrow_right</mat-icon> &nbsp;
                                    <mat-icon class="icon-size">{{iconName}}</mat-icon>
                                    <span>{{name}}</span>
                                </span>                               
                            </div>

                            <div class="login-btn">
                                <img src="../assets/logo.png" class="img">
                            </div>      
                </mat-toolbar-row>               
            </mat-toolbar>        
        </div>
        <router-outlet></router-outlet>
</mat-drawer-container>

