.main-container {
    align-items: center;
}
.menu-icon{
    padding: 18px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.menu-text-home{
    color: antiquewhite;
    font-size: 0.9em;
    padding-left: 20px;

}

.menu-text-list{
    color: antiquewhite;
    font-size: 0.9em;
    padding-left: 14px;
}

.menu-text-dashboard{
    color: antiquewhite;
    font-size: 0.9em;
    padding-left: 10px;
}