.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-icon{
    color: white;
    cursor: pointer;
    font-size: 50px;
    margin-bottom: 5px; 
    overflow: visible;
}

.menu-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-text-home{
    color: antiquewhite;
    font-size: 0.9em;
}

.menu-text-list{
    color: antiquewhite;
    font-size: 0.9em;
}

.menu-text-dashboard{
    color: antiquewhite;
    font-size: 15px;
}

