.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-icon{
    color: white;
    cursor: pointer;
    font-size: 32px;
    margin-bottom: 5px; 
}

.menu-text-home{
    color: antiquewhite;
    font-size: 0.9em;
}

.menu-text-list{
    color: antiquewhite;
    font-size: 0.9em;
}

.menu-text-dashboard{
    color: antiquewhite;
    font-size: 0.9em;
}

.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}