 .example-card {
    // max-width: 500px;
    height: auto;
    border-radius: 15px;
    padding: 20px 40px 20px;
    img{
      height: 250px;
    }
  }

  .main-container {
    background-image: url('../../../assets/login_background_img.png');
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat; 
    height: 100vh;                
    width: 100vw;                 
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
  display: flex !important;
  flex-direction: column !important ;
  overflow-y: hidden;
}

.pd-0{
  padding-bottom: 0px  !important
}

::ng-deep .mat-tab-header {
  display: none !important;
}

